.ailu-sig {
  width: 290px;
  height: 200px;
  background-image: url(https://i.imgur.com/ybL1be3.png);
  background-position: center top;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  color: white;
  gap: 10px;
  overflow: hidden;
  outline: 1px solid #b88a99;
  outline-offset: -9px;
  transition: 0.5s ease;
  border: 4px solid #b88a99;
}
.ailu-sig:hover {
  outline-offset: -1px;
  background-position: center bottom;
}
.ailu-sig:hover .ai-tit {
  padding-top: 40px;
}
.ailu-sig:hover .ai-txt, .ailu-sig:hover .ai-rep {
  opacity: 1;
}

.ai-tit {
  font: 600 20px/100% "Bodoni Moda";
  text-align: center;
  position: relative;
  transition: 0.5s ease;
  padding-top: 150px;
  letter-spacing: 2px;
  text-shadow: 2px 1px #8e6371;
}

.ai-txt {
  font: 600 8px "Mulish";
  width: 80%;
  opacity: 0;
  transition: 0.3s 0.5s ease;
  letter-spacing: 2px;
  text-align: justify;
}

.ai-rep {
  width: 30px;
  height: 30px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s 0.7s ease;
}
.ai-rep audio {
  filter: brightness(65%) contrast(0.9) sepia(1) hue-rotate(311deg);
  transform: scale(1);
  transform-origin: 0;
  position: relative;
  right: 11px;
  top: -13px;
}
