.b-sig {
  transform: scale(0.9);
  width: 300px;
  height: 208px;
  background: url(https://i.imgur.com/F6idyqb.png);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 10px;
  border-top: 4px solid #6a93b5;
  border-bottom: 4px solid #6a93b5;
}
.b-sig:hover .b-juk {
  top: -30px;
}

.b-rec {
  width: 80%;
  height: 30px;
  display: flex;
  gap: 6px;
  overflow: hidden;
}

.b-juk {
  font: 600 36px "Archivo Black";
  line-height: 90%;
  color: #3b5c78;
  height: 200%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  transition: 0.2s;
}
.b-juk .b-rep {
  width: 30px;
  height: 30px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}
.b-juk .b-rep audio {
  filter: invert(1) brightness(65%) contrast(0.9) sepia(1) hue-rotate(168deg);
  transform: scale(1);
  transform-origin: 0;
  position: relative;
  right: 11px;
  top: -13px;
}
.b-txt {
  font: 400 9px "Roboto Condensed";
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: justify;
  color: white;
}